body {
  padding-top: 70px;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #111111;
  background-image: -webkit-gradient(
    radial,
    50% 0%, 0,
    50% 0%, 1000,
    from(#334033),
    to(#111111));
  background-image: -moz-radial-gradient(
    50% 0% 270deg,
    circle cover,
    #334033 0%,
    #111111 1000px);
  background-repeat: no-repeat;
  min-height: 1000px;
  color: #ffffff;
}

.row-fluid {
  width: 940px;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px 15px;
  text-align: right;
  letter-spacing: 5px;
}

#firefly {
  border-top: 5px solid #ff5a00;
}

#dragonfly {
  border-top: 5px solid #008aff;
}

#butterfly {
  border-top: 5px solid #ff7474;
}

#content_container {
  opacity: 0;
}

.hero-panel {
  background-color: #000000;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 20px !important;
  position: relative;
}

.hero-panel:hover {
  background-color: rgba(0,0,0,0.5);
}

.hero-panel > span {
  display: block;
  height: 100px;
  margin: 5px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid {
    width: 724px;
  }
}

@media (max-width: 979px) {
  .row-fluid {
    width: auto;
  }

  .navbar .brand {
    position: relative;
    padding: 10px 10px 10px 55px;
    letter-spacing: 5px;
  }

  .navbar .brand i {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 0px;
    left: 5px;
    background-image: url(../img/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 80px;
  }

  #content_container {
    background-image: url(../img/logo-large.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .navbar .brand {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 10px;
  }

  .navbar .brand i {
    display: none;
  }

  .navbar .nav {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 90px;
  }

  .row-fluid {
    width: 1170px;
  }
}